.movies__button {    
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    margin-top: 48px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border-radius: 6px;
    text-align: center;
    color: #000;
    border: none;
    cursor: pointer;
}

.movies__error {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.movies__button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .movies__button {
        margin-top: 40px;
    }
}

@media (max-width: 460px) {
    .movies__button {
        margin-top: 71px;
    }
}
