.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    color: #000;
    padding: 65px 0 54px;
    margin: 0 auto;
}

.profile__form {
    margin: 123px 0 0;
    width: 100%;
}

.profile__title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.profile__input {
    width: 100%;
    margin-bottom: 22px;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    text-align: left;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}

.profile__input:nth-child(2) {
    margin-bottom: 0;
    border-bottom: none;
}

.profile__links {
    margin: 218px 0 0;
    display: flex;
    flex-direction: column;
}

.profile__link {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: #fff;
    margin-bottom: 16px;
}

.profile__link_logout {
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    border: none;
}

.profile__link:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width: 768px) {
    .profile {
        padding: 233px 0 0 0;
    }

    .profile__form {
        margin: 93px 0 0;
        width: 100%;
    }

    .profile__input {
        margin-bottom: 27px;
    }

    .profile__links {
        margin: 210px 0 0;
    }
}

@media (max-width: 460px) {
    .profile {
        width: 260px;
        padding: 67px 0 0 0;
    }

    .profile__form {
        margin: 76px 0 0;
    }

    .profile__input {
        margin-bottom: 28px;
    }

    .profile__links {
        margin: 379px 0 0;
    }

    .profile__link {
        font-size: 12px;
        margin-bottom: 16px;
    }

    .profile__link_logout {
        font-size: 12px;
    }
}