.profile {
    display: flex;
    max-width: 1280px;
    height: calc(100vh-74px);
}

.profile__title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 0;    
	padding-bottom: 107px;
}

.profile__container {
    margin: 0 auto;
	padding-block: 64px 70px;
	max-width: 410px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile__description {
    display: flex;
    flex-direction: column;
    gap:17px;
    padding-bottom: 221px;
}

.profile__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__input {
	width: 250px;
    text-align: right;
    font-size: 11px;
}

.profile__name {
    font-size: 11px;
    font-weight: 500;
}

.underline {
    border-bottom: #E8E8E8 solid 1px;
}

.hidden {
    display: none;
}

.profile__links {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.profile__link {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    border: 0;
    background-color: inherit;
    padding: 0;
    text-align: center;
}

.profile__link-logout {
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.profile__link-save {
    border: 0;
	padding: 0;
	border-radius: 3px;
	font-size: 13px;
	height: 45px;
	background-color: #3456F3;
	color: white;
	cursor: pointer;
}

.profile__link-save_disabled {
    background-color: #f8f8f8;
    color: #c2c2c2;
    cursor: default;
}

.profile__link:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width: 768px) {
    .profile__container {
        padding-block: 236px 269px;
    }

    .profile__title {
        padding-bottom: 78px;
    }

    .profile__links {
        bottom: 269px;
    }

    .profile__description {
        padding-bottom: 212px;
    }
}

@media (max-width: 460px) {
    .profile__container {
        padding: 70px 30px 40px;
    }

    .profile__title {
        padding-bottom: 63px;
    }

    .profile__links {
        margin: 168px 0 0;
    }

    .profile__link {
        font-size: 12px;
    }

    .profile__link-logout {
        font-size: 12px;
    }

    .profile__input {
        width: 200px;
    }
}