.portfolio {
    padding: 0 70px 106px;
    color: #000;
}

.portfolio__title {
    color: #A0A0A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 111.111%;
    margin: 0;
    padding-bottom: 20px;
}

.portfolio__items {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0 0;
}

.portfolio__item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.portfolio__li {
    border-bottom: #E8E8E8 1px solid;
}

.portfolio__li:last-child {
    border-bottom: none;
}

.portfolio__link {    
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: 166.667%;
    letter-spacing: -1.2px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 19px;
}

.portfolio__link:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media (max-width: 768px) {
    .portfolio {
        padding: 0 50px 70px;
    }
    .portfolio__item {
        font-size: 28px;
        line-height: 178.571%;
        letter-spacing: -1.12px;
        border-bottom: 1px solid #E6E6E6;
    }

    .portfolio__link {
        font-size: 28px;
        line-height: 178.571%;
        letter-spacing: -1.12px;        
    }
}

@media (max-width: 510px) {
    .portfolio {
        padding: 0 14px 51px;
    }
    
    .portfolio__items {        
        padding: 3px 0 0 0;
    }

    .portfolio__item {
        font-size: 18px;
        line-height: 155.556%;
        letter-spacing: -0.72px;
    }

    .portfolio__title {
        font-size: 14px;
        line-height: 142.857%;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 155.556%;
        letter-spacing: -0.72px;        
    }
}