.login {
    width: 396px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 70px 0;
    color: #000;
}

.login__logo {
    width: 38px;
    height: 38px;
    background-image: url('../../images/logo.svg');
}

.login__logo:hover {
    opacity: 0.8;
}

.login__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 40px 0;
}

.login__form {
    width: 100%;
}

.login__container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.login__label {
    color: #A0A0A0;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 9px;
}

.login__input {
    border-radius: 8px;
    background-color: #F9F9F9;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: normal;
}

.login__input:focus {
    color: rgb(250, 130, 18);
    outline: auto;
}

.login__span {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ff4062;
    margin-top: 10px;
    min-height: 12px;
}

.login__button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 6px;
    align-items: center;
}

.login__button {
    border-radius: 3px;
    background-color: #FF6838;
    border: none;
    color: #fff;
    height: 45px;
    width: 100%;
    text-align: center;
    margin: 157px auto 16px;
    padding: 13px 126px 15px 124px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.login__button:hover {
    opacity: 0.8;
}

.login__button-text {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.login__login-link {
    color: #FF6838;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 6px;
    text-decoration: none;
}

.login__login-link:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .login {
        padding: 232px 0;
    }
}

@media (max-width: 460px) {
    .login {
        width: 260px;
        margin: 0 auto;
        padding: 56px 0 30px;
        align-items: center;
    }

    .login__title {
        margin: 50px 0 80px;        
    }

    .login__button {
        width: 260px;
        font-size: 12px;        
        margin: 245px auto 14px;
        padding: 15px 68px;
    }

    .login__button-text {
        font-size: 12px;
    }

    .login__login-link {
        font-size: 12px;
    }
}
